<!DOCTYPE html>
<html>
<head>
    <title>MakeForm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="#"><!--btrawwi7 error l favicon.ico lbala ta3me-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/make_form_script1.js') }}" ></script>
    <style>
        .hiddens {
            display: none;
        }
        /*.card {
            text-align: center; to center child elements
        }*/
        .form-label {

            max-width: 800px;
        }
        .form-control {
        /*    display: inline-block; lamma badde 2a3mela mettar 23a3mil l div input grp la 7atta tkoun hiyye l m5fiyye wa 2illa bisir4 class l .form-control display inline block 2awla mn .hiddeens*/
            max-width: 800px;
        }
        #titles_div {
            display: block;
            /*z-index: 0;*/
        }
        #fields_div {
            display: none;
            /*z-index: -2;*/
        }
    </style>
</head>
<body>
{% include "upnavbar.html" %}
{% include "navbar.html" %}
{% for i in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ i }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<div class="container">
<div class="row justify-content-center">
    <div class="col col-lg-9 col-md-12">
        <div class="card">
            
<div id="titles_div">
    <!--removed hidden tag-->
                    {{ form.form_title.label(class_="form-label") }}<br>
                    {{ form.form_title(class_="form-control") }}<br>
                    {{ form.form_class.label(class_="form-label") }}<br>
                    {{ form.form_class(class_="form-control") }}<br>
                    {{ form.table.label(class_="form-label") }}<br>
                    {{ form.table(class_="form-control") }}<br>
                    {{ form.access_by.label(class_="form-label") }}<br>
                    {{ form.access_by(class_="form-control") }}<br>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="button" onclick="get_pass()">
                            Write titles
                        </button>
                        <button style="display:inline-block" class="btn btn-dark" type="reset">
                            clear
                        </button>
                    </div><!--footer of titles-->
</div>
<div id="fields_div">
<!--<form method="POST">-->
    <!--removed hidden tag-->
    {{ form.field_name.label(class_="form-label") }}<br>
    {{ form.field_name(class_="form-control") }}<br>
    {{ form.flabel.label(class_="form-label") }}<br>
    {{ form.flabel(class_="form-control") }}<br>
    <label id="for_" for="field_type" >Field type</label>
    <select class="form-control" id="field_type" name="field_type" required="" onchange="show_div()">
        <option value=""></option>
        <option value="StringField">Text field</option>
        <option value="IntegerField">Number field</option>
        <option value="RadioField">Radio field</option>
        <option value="SelectField">Select field</option>
        <option value="DateField">Date field</option>
        <option value="TimeField">Time field</option>
        <option value="PasswordField">Password field</option>
        <!--<option value="HiddenField">Hidden field needed for forms's id</option>-->
    </select><br>
    <label id="for_" for="in_req" class="form-label">Is input required?</label>
    <select id="in_req" name="in_req"  class="form-control">
        <option value=""></option>
        <option value="InputRequired(),">Yes</option>
        <option value="">No</option>
        <br>
    </select>
    <div class="hiddens" id="str_vali">
    <div class="in-grp" id="is_regex">   
        <label id="for_regex" for="regex" class="form-label" >Only text allowed?</label>
        <select id="regex" name="regex" class="form-control">
            <option value=""></option>
            <option value="Regexp(r'^[A-Za-z\s\-\']+$', message='Invalid!'),">Text only</option>
            <option value="Regexp(r'^[\.a-zA-Z0-9,;.? ]*$', message='Only text, nb, ,;.?'),">Text, numbers, commas, semi columns & periods only.</option>
            <br>
        </select>
    </div> 
    <!--<div class="in-grp" id="is_str_len">-->
        <label id="for_length" for="length" class="form-label" >Is there a specific Chracters range to be typed?</label>
        <select id="length" name="length" class="form-control" onchange="set_length()">
            <option value=""></option>
            <option value="yes">Yes</option>
            <option value="">No</option>
            <br>
        </select>
    <!--</div>-->
    </div>
    <div class="in-grp hiddens" id="is_nb_rg">
        <label id="for_nb_range" for="nb_range" class="form-label hiddens" >Number range (not required!)</label>
        <select id="nb_range" name="nb_range" class="form-control hiddens" onchange="set_nb_range()">
            <option value=""></option>
            <option value="yes">Yes</option>
            <option value="">No</option>
            <br>
        </select>
    </div>
    <div class="in-grp hiddens" id="input-group-nb-rg">
        {{ form.min_nb.label(class_="form-label") }}<br>
        {{ form.min_nb(class_="form-control") }}<br>
        {{ form.max_nb.label(class_="form-label") }}<br>
        {{ form.max_nb(class_="form-control") }}<br>
    </div><br>
    <div class="in-grp hiddens" id="input-group-str-len">
        {{ form.min_char.label(class_="form-label") }}<br>
        {{ form.min_char(class_="form-control") }}<br>
        {{ form.max_char.label(class_="form-label") }}<br>
        {{ form.max_char(class_="form-control") }}<br>
    </div><br>
    <div class="in-grp hiddens" id="input-group-hm">
        <label for="hm_choices" class="form-label">How much choices the Select/Radio will contain(don't forget the 'غير محدد' choice)</label><br>
        <input type="number" class="form-control" id="hm_choices_id" name="hm_choices" onchange="generate_choices()" /><br>
    </div>
    <div id="choices_div">
    </div><br>
    <!--<input type="hidden" name="choices" id="hidden_choices" value=""/>-->
   <form method="POST">
        <!--{#{{ form.hidden_tag() }}#}-->
        <input type="hidden" id="form_data" name="form_data" value=""/>
    
    <button class="btn btn-primary" type="button" onclick="push_field()" >Make Field</button>
    <button style="display:inline-block" class="btn btn-dark" type="reset" >Clear</button>
    <!--<div class="btn-group" style="display:inline-block">
        <a href="{{ url_for('form_done') }}" class="btn btn-primary" onclick="confirm_finish()">Finish</a>
    </div> needed in old way-->
    <button style="display:inline-block" class="btn btn-primary" type="submit" onclick="confirm_send()">Finish</button>
    </form><!--hawn bas kormel l button-->


</div><!--for fields div-->
</div>
</div>
</div>
</div>

</body>
</html>