<!DOCTYPE html>
<html>
    <head><title>welcome</title></head>
    <body>
        <a class="nav-link active" id="nav-2-tab" data-bs-toggle="pill" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="true">
            <span class="badge bg-primary"> 1 </span> 
             الأساسية والعائلة
             <i class="fas fa-user-check"></i>
        </a>
                                        <a class="nav-link " id="nav-3-tab" data-bs-toggle="pill" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="true">
            <span class="badge bg-primary"> 2 </span> 
             قانون ومنظّمات
             <i class="fas fa-gavel"></i>
        </a>
                                        <a class="nav-link " id="nav-4-tab" data-bs-toggle="pill" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="true">
            <span class="badge bg-primary"> 3 </span> 
             التعليم
             <i class="fas fa-graduation-cap"></i>
        </a>
                                        <a class="nav-link " id="nav-5-tab" data-bs-toggle="pill" href="#nav-5" role="tab" aria-controls="nav-5" aria-selected="true">
            <span class="badge bg-primary"> 4 </span> 
             السكن
             <i class="fas fa-hotel"></i>
        </a>
                                        <a class="nav-link " id="nav-6-tab" data-bs-toggle="pill" href="#nav-6" role="tab" aria-controls="nav-6" aria-selected="true">
            <span class="badge bg-primary"> 5 </span> 
             العمل
             <i class="fas fa-briefcase"></i>
        </a>
                                        <a class="nav-link " id="nav-7-tab" data-bs-toggle="pill" href="#nav-7" role="tab" aria-controls="nav-7" aria-selected="true">
            <span class="badge bg-primary"> 6 </span> 
             الصحة الجسدية والنفسية
             <i class="fas fa-heartbeat"></i>
        </a>
                                        <a class="nav-link " id="nav-8-tab" data-bs-toggle="pill" href="#nav-8" role="tab" aria-controls="nav-8" aria-selected="true">
            <span class="badge bg-primary"> 7 </span> 
             قطاع تمكين المرأة
             <i class="fas fa-female"></i>
        </a>
    </body>
</html>